.titleWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .titleWrapper {
        flex-direction: column;
    }

    .titleWrapper h1 {
        font-size: 1.5rem;
    }

    .titleWrapper select {
        display: flex;
        flex-grow: 1;
    }
}